// Variables
$color-online: #0e9bd8;
$color-offline: #940000;
$color-body: lightgray;

body,
h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.body {
  background-color: $color-body;

  &__wrapper {
    max-width: 860px;
    // background-color: red;
    margin: 0 auto;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0.5rem;

  &__btn {

    &:hover {
      cursor: pointer;
    }

    &--active {
      background-color: red;
    }
  }
}

.main {

  border: 2px solid black;
  // border-radius: 2px;
  &__title {
    font-size: 30px;
    .dot {
      color: #6745A6
    }
  }

  &__list-item {
    padding: 1rem 2.5rem;
    margin: 0.3rem 0;
    display: flex;
    justify-content: space-between;
    // border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    &--online {
      background-color: $color-online;
    }

    &--offline {
      background-color: $color-offline;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img {
    border-radius: 50%;
    width: 100px;
  }

}

.footer {
  text-align: center;
}



